<!DOCTYPE html>
<html class="yui3-js-enabled wf-omnespro-n2-active wf-omnespro-n3-active wf-proximanova-n1-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

{{!-- General fonts --}}
<link rel="stylesheet" href="/assets/css/pure-min.css">
<link rel="stylesheet" href="/assets/css/screen.css">
{{!-- /General fonts --}}

{{!-- Typekit fonts --}}
<script src="/assets/js/gis6vng.js"></script>
<style type="text/css">.header h1,.hero h1,.hero h2,.tk-omnes-pro{font-family:"omnes-pro",sans-serif;}</style>
<link href="/assets/css/fonts.css" rel="stylesheet">
<script>try { Typekit.load(); } catch (e) {}</script>
{{!-- /Typekit fonts --}}

<script type="text/javascript" src="/assets/js/handlebars.js"></script>
<script>
var nav = {
  nav: [
    { url: "http://www.yehudakatz.com", title: "Katz Got Your Tongue" },
    { url: "http://www.sproutcore.com/block", title: "SproutCore Blog" },
  ]
};

Handlebars.registerHelper('list', function(context, options) {
  var ret = "<ul>";

  for(var i=0, j=context.length; i<j; i++) {
    ret = ret + "<li>" + options.fn(context[i]) + "</li>";
  }

  return ret + "</ul>";
});
</script>

{{! Ghost outputs important style and meta data with this tag }}
{{ghost_head}}
</head>
<body class="{{body_class}}">

<div class="pure-g-r" id="layout">
    <div class="sidebar pure-u">
        <header class="header">
            <hgroup>
                <h1 class="brand-title">
                    <a href="{{@blog.url}}">{{@blog.title}}</a>
                </h1>
                <h2 class="brand-tagline">{{@blog.description}}</h2>
            </hgroup>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://purecss.io/">Pure</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://yuilibrary.com/">YUI Library</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="pure-u-1">
        <div class="content">